.statistics-table {
  margin: 40px auto;

  td.comment-td {
    border-bottom: 1px solid #B2B4B5;
  }

  .comment-content {
    border-top: 1px dotted #B2B4B5;
    padding: 10px;
  }

  .table__cell {
    font-weight: normal;
  }

  .timeform-logo {
    height: 20px;
    vertical-align: middle;
  }
}
